In [11]:
import pandas as pd
import numpy as np
import matplotlib as plt

Načtení datové sady do formatu pandas dataframe

In [6]:
file = "students_mental_health_survey.csv"
df = pd.read_csv(file)
print(df)

      Age            Course  Gender  CGPA  Stress_Level  Depression_Score  \
0      25            Others    Male  3.56             3                 3
1      24       Engineering  Female  2.44             0                 3
2      19          Business  Female  3.74             4                 0
3      19  Computer Science    Male  3.65             2                 1
4      18          Business    Male  3.40             3                 3
...   ...               ...     ...   ...           ...               ...
7017   20               Law  Female  3.69             3                 1
7018   24           Medical  Female  3.73             3                 4
7019   26            Others    Male  3.65             4                 5
7020   24           Medical    Male  3.65             4                 3
7021   22           Medical  Female   NaN             3                 5

      Anxiety_Score Sleep_Quality Physical_Activity Diet_Quality  \
0                 2          Good          Moderate         Good
1                 0       Average               Low      Average
2                 3          Good               Low      Average
3                 0       Average               Low      Average
4                 4          Good               Low      Average
...             ...           ...               ...          ...
7017              5          Good               Low         Poor
7018              1          Good          Moderate      Average
7019              1          Good              High         Poor
7020              4       Average              High         Poor
7021              0       Average              High      Average

     Social_Support Relationship_Status Substance_Use Counseling_Service_Use  \
0          Moderate             Married         Never                  Never
1               Low              Single  Occasionally           Occasionally
2          Moderate   In a Relationship         Never           Occasionally
3          Moderate              Single           NaN                  Never
4              High             Married         Never                  Never
...             ...                 ...           ...                    ...
7017           High              Single         Never             Frequently
7018           High              Single         Never           Occasionally
7019       Moderate             Married         Never           Occasionally
7020       Moderate              Single         Never                  Never
7021       Moderate   In a Relationship         Never                  Never

     Family_History Chronic_Illness  Financial_Stress  \
0                No              No                 2
1                No              No                 3
2                No              No                 4
3                No              No                 4
4                No             Yes                 0
...             ...             ...               ...
7017            Yes              No                 1
7018             No              No                 3
7019             No             Yes                 4
7020             No             Yes                 4
7021             No              No                 2

     Extracurricular_Involvement  Semester_Credit_Load Residence_Type
0                       Moderate                    17      On-Campus
1                            Low                    27      On-Campus
2                           High                    15      On-Campus
3                       Moderate                    20     Off-Campus
4                           High                    23      On-Campus
...                          ...                   ...            ...
7017                        High                    26     Off-Campus
7018                         Low                    15     Off-Campus
7019                    Moderate                    17     Off-Campus
7020                    Moderate                    18     Off-Campus
7021                         Low                    17    With Family

[7022 rows x 20 columns]

Získání základních informací o datové sadě

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7022 entries, 0 to 7021
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          7022 non-null   int64
 1   Course                       7022 non-null   object
 2   Gender                       7022 non-null   object
 3   CGPA                         7010 non-null   float64
 4   Stress_Level                 7022 non-null   int64
 5   Depression_Score             7022 non-null   int64
 6   Anxiety_Score                7022 non-null   int64
 7   Sleep_Quality                7022 non-null   object
 8   Physical_Activity            7022 non-null   object
 9   Diet_Quality                 7022 non-null   object
 10  Social_Support               7022 non-null   object
 11  Relationship_Status          7022 non-null   object
 12  Substance_Use                7007 non-null   object
 13  Counseling_Service_Use       7022 non-null   object
 14  Family_History               7022 non-null   object
 15  Chronic_Illness              7022 non-null   object
 16  Financial_Stress             7022 non-null   int64
 17  Extracurricular_Involvement  7022 non-null   object
 18  Semester_Credit_Load         7022 non-null   int64
 19  Residence_Type               7022 non-null   object
dtypes: float64(1), int64(6), object(13)
memory usage: 1.1+ MB
None

Popisná statistika pro numerické sloupce datové sady.

In [8]:
print(df.describe())

               Age        CGPA  Stress_Level  Depression_Score  Anxiety_Score  \
count  7022.000000  7010.00000   7022.000000       7022.000000    7022.000000
mean     23.003418     3.49127      2.427941          2.254486       2.300484
std       3.853978     0.28742      1.638408          1.625193       1.624305
min      18.000000     2.44000      0.000000          0.000000       0.000000
25%      20.000000     3.29000      1.000000          1.000000       1.000000
50%      22.000000     3.50000      2.000000          2.000000       2.000000
75%      25.000000     3.70000      4.000000          3.000000       4.000000
max      35.000000     4.00000      5.000000          5.000000       5.000000

       Financial_Stress  Semester_Credit_Load
count       7022.000000           7022.000000
mean           2.453005             22.010538
std            1.708995              4.358380
min            0.000000             15.000000
25%            1.000000             18.000000
50%            2.000000             22.000000
75%            4.000000             26.000000
max            5.000000             29.000000

Nejčatější hodnoty a jejich frekvence pro jednotlivé kategorie.

In [9]:
for column in df.select_dtypes(include=['object', 'category']).columns:
    print(df[column].value_counts())

Medical             2105
Law                 1385
Engineering         1072
Computer Science    1028
Business             717
Others               715
Name: Course, dtype: int64
Male      3547
Female    3475
Name: Gender, dtype: int64
Good       3589
Average    2735
Poor        698
Name: Sleep_Quality, dtype: int64
Moderate    3521
Low         2091
High        1410
Name: Physical_Activity, dtype: int64
Average    4268
Good       1385
Poor       1369
Name: Diet_Quality, dtype: int64
Moderate    3470
High        2176
Low         1376
Name: Social_Support, dtype: int64
Single               3574
In a Relationship    2079
Married              1369
Name: Relationship_Status, dtype: int64
Never           5903
Occasionally     699
Frequently       405
Name: Substance_Use, dtype: int64
Never           4263
Occasionally    2081
Frequently       678
Name: Counseling_Service_Use, dtype: int64
No     4866
Yes    2156
Name: Family_History, dtype: int64
No     6678
Yes     344
Name: Chronic_Illness, dtype: int64
Moderate    3440
Low         2164
High        1418
Name: Extracurricular_Involvement, dtype: int64
On-Campus      2815
Off-Campus     2788
With Family    1419
Name: Residence_Type, dtype: int64